body{
    font-family: Roboto Medium,Roboto-Medium,Droid Sans,HelveticaNeue-Medium,Helvetica Neue Medium,sans-serif-medium;
    background-color: rgb(241, 242, 244);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    display: none;
}
.navbar{
    visibility: visible;
    background-color: blue;
    top: 0px;
    position: sticky;
}
li{
    color: black;
}
.login{
    display: inline-block;
    vertical-align: middle;
}
.lhov{
    font-weight: bold;
    color: white;
    margin-right: 20px;
}
.cart{
    display: inline-block;
    vertical-align: middle;
}
.chov{
    margin-right: 20px;
}
.txtcart{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.sell{
    display: inline-block;
    vertical-align: middle;
    padding-right: 2px;
}
.shov{
    margin-right: 30px;
}
.txtsell{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.app{
    display: inline-block;
    vertical-align: middle;
}
li,ul{
    display: inline-block;
    vertical-align: middle;
    padding-left: 20px;
}
.head{
    display: inline-block;
    top: 19px;
    position: relative;
}
.fl img{
    height: 27px;
    padding-left: 70px;
}
.linkapp{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.options{
    padding: 2px;
    box-sizing: border-box;
    text-decoration-style: none;
}
.signup{
    color: black;
}
.profile{
    color: black;
}
.search {
    display: inline-block;
    vertical-align: middle;
    margin-top: 5px;
    height: 40px;
    width: 400px;
    border: 200px;
    padding: 12px 12px 12px 40px; 
    border-radius: 10px;
    background-color: rgb(225, 243, 225);
    visibility: initial;
    font-size: medium;
    background-image: url(icons8-search-18.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: 12px;
}
.products{
    display: inline;
    padding-left: 60px;
}
.products a{
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    font-family: Roboto Medium,Roboto-Medium,Droid Sans,HelveticaNeue-Medium,Helvetica Neue Medium,sans-serif-medium;
}
.pro-box{
    background-color: white;
    height: 50px;
    width: 100%;
    border-bottom: 1px;
    border-color: rgb(163, 161, 161);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-style: solid;
    margin-bottom: 20px;
}
.path-dir{
    font-family: Roboto Medium,Roboto-Medium,Droid Sans,HelveticaNeue-Medium,Helvetica Neue Medium,sans-serif-medium;
    font-size: 18px;
    color: #685f5f;
    display: inline;
    margin-left: 40px;
}
.path-dir a{
    display: inline;
    padding-left: 2px;
    font-size: 12px;
    text-decoration: none;
    color: #685f5f;
}
.path-dir a:hover{
    color: rgb(35, 122, 253);
}
.direct{
    font-family: Roboto Medium,Roboto-Medium,Droid Sans,HelveticaNeue-Medium,Helvetica Neue Medium,sans-serif-medium;
    font-size: 18px;
    color: #685f5f;
    padding-left: 8px;
    display: inline;
}
.path{
    display: inline;
    padding-left: 2px;
    font-size: 18px;
    color: #685f5f;
    padding-left: 8px;
}
.direct a{
    display: inline;
    font-family: Roboto Medium,Roboto-Medium,Droid Sans,HelveticaNeue-Medium,Helvetica Neue Medium,sans-serif-medium;
    font-size: 12px;
    color: #685f5f;
    text-decoration: none;
}
.direct a:hover{
    color: rgb(35, 122, 253);
}
.filter{
    background-color: white;
    width: 300px;
    height: 500px;
    margin-left: 30px;
    margin-top: -17px;
}
.fil-head{
    color: black;
    font-size: 22px;
    font-weight: 500;
    margin-left: 10px;
    padding: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
hr.hor{
    margin-top: -30px;
    border: none;
    border-top: 0.1px solid #f7f7f7;
}
.fin-head{
    color: black;
    font-size: 13.4px;
    font-family: Roboto Medium,Roboto-Medium,Droid Sans,HelveticaNeue-Medium,Helvetica Neue Medium,sans-serif-medium;
    padding: 12px;
    margin-left: 10px;
    margin-top: -6px;
}
.status{
    margin-left: 15px;
}
.tickbox{
    font-size: 14px;
    vertical-align: text-top;
    cursor: pointer;
}
input[type=checkbox]{
    cursor: pointer;
}
.tick{
    padding-bottom: 10px;
    cursor: pointer;
}
hr.hor-two{
    border: none;
    border-top: 0.1px solid #f7f7f7;
}